@media screen and (max-width: 1024px) {
    //header
    .headerDay,
        .headerNight{
            position: relative;
            .themeBtns{
                img{
                    width: 3cqw;
                }
            }
        }
        .menu{
            position: absolute;
        }
    //main
    .main{
        margin-top: 15cqh;
        
        .tittleBlock{
            justify-content: space-around;

            .homeTittle{
                width: 35cqw;
            }
        }
        .homeSwiper{
            width: 25cqw;
            margin: 0 10cqw;
        }
        .parallaxTittle{
            font-size: 4cqw;
           }
        
           .textBlock{
            padding: 2cqh ;
           }
           .aboutCocktail{
               .container{
                width: 95cqw;
                    .itemBlock{
                        .itemTittleRight,
                        .itemTittleLeft{
                            h1{
                                width: 30cqw;
                                margin: 3cqh 0;
                            }
                        }
                        .textRight,
                        .textLeft{
                            p{
                            line-height: 3cqw;  
                            padding: 5cqh;
                            }
                        }
                        
                    }
               }


           }
    }







}

  @media screen and (max-width: 768px){
    .themeBtns{
        img{
            width: 4cqw !important ;
        }
    }
    .tittleBlock{
        flex-wrap: unset;
        // flex-direction: column-reverse;
        .homeTittle{
            line-height: unset;
            width: 50cqw !important;
            .tittleText{
                width: 45cqw;
            // // font-size: 4cqw;

            }
        }
    }
    .aboutCocktail{
        width: -webkit-fill-available;
        .container{
            width: 85cqw !important;
            margin: 0 auto;
             .itemBlock{
                 .itemTittleRight,
                 .itemTittleLeft{
                     h1{

                         width: 40cqw !important;
                     }
                 }
                 .rightImg,
                 .leftImg{
                    display: flex;
                    align-items: center;
                 }
                 
             }
        }


    }
  }
  @media screen and (max-width: 600px) {
    .themeBtns{
        img{
            width: 5cqw !important ;
        }
    }
   
    .itemBlock{
        .itemTittleRight,
        .itemTittleLeft{
            h1{
                padding: 2cqh;
                width: 40cqw !important;
                font-size: 6cqw;
            }
        }
        .textRight,
        .textLeft{
            p{
                font-size: 2cqw;
                line-height: 3cqh !important;
            padding: 1cqh !important;
            }
        }
        
    }


  }

  @media screen and (max-width: 600px) {
    .main{
        margin-top: 4cqh;
    }
    .headerDay,
    .headerNight{
        border-bottom-width: inherit;
        background-image: none;
        opacity: unset;
    }
    .button-group{
        align-items: baseline;
        position: relative;
        // top: 2cqh;
        .menuBtn{
            position: relative;
            top: 2cqh;
            display: block;
            .btnWrapper {
                top: 0;
            }
        }
        .themeBtns{
            position: relative;
            top: 2cqh;

        }
        .burgerBtn,
        .themeBtn{
        width: 7cqw !important;
    }
    }
    

    .menu{
        display: block;
        width: 100vw;
        height: 100cqh;
        position: absolute;
        left: -100vw;
        // background-color: rgb(186, 235, 252);
        transition: all ease 1s;
        z-index: 10;
        .mobileMenuClose{
            display: block;
            .buttonClose{
                margin-left: 5cqw;
                z-index: 10;
            }
        }
        ul{
            background-color: rgb(186, 235, 252);
            display: flex;
            height: -webkit-fill-available;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            width: 50vw;
            top: 0;

            li{
                display: block;
                font-size: 5cqw;
                line-height: 5cqh;
                background-color: rgb(59 130 246);
                // border: 1px solid rgb(0, 0, 0);
                border-radius: 1cqw;
                width: 35cqw;
                margin: 0 auto 3cqh;
                color: white;
                font-size: 3cqw;
                a{
                    display: block;
                }
            }
        }
         
    }
    .menuActive{
        left: 0;
        transition: all ease 1s;
        backdrop-filter: blur(5px);
        

        
        

    }
    
    .tittleBlock{
        padding-bottom: 15cqh;
        .homeTittle{
            padding: 0;
            min-width: 50cqw;
            .tittleText{
                margin: 0 0 2cqh 0;
                width: 45cqw;
                h2{
                    line-height: 5cqh;
                    font-size: 4cqw;
                    span{
                    font-size: 4cqw;

                    }
                }
            }
        }
        .homeSwiper{
           max-width: 30cqw;
            .swiper-3d {
                perspective: 130px;
            }
            .swiper-slide{
                img{
                    width: 40cqw;
                }
            }
        }
    }
    .sectionBtn{
        position: absolute;
        margin-top: 5cqh;
        display: flex;
        justify-content: space-around;
        width: -webkit-fill-available;
        button{
            display: inline-block;
            padding: 3cqw;
            margin: 2cqw;
        }
    }
    .textBlock{
        padding: 0 2cqh 10cqh 2cqh;
    }
    .parallaxTittle{
        font-size: 4cqw;
    }
    .searchBlock{
        position: absolute;
        left: -20vw;
        top: 85vh;
        z-index: 123;
    }
    









 

   }