@media screen and (max-width: 768px) {
   .tittleBlock{
    justify-content: space-around;
        .homeTittle{
            width: 45cqw;
        };
        .homeSwiper{
            width: 35cqw;
        }
   }
   .parallaxTittle{
    font-size: 5cqw;
   }
   .searchBlock{
    top: 10cqh;
   }
  }