@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Raleway:ital,wght@0,200;0,400;1,200;1,400&family=Tangerine&display=swap');

.headerDay{
  background-image: linear-gradient(60deg, #fdfedf, #9fd6f8, #e7c1fb);
  animation: bgAnimatedGradient 15s infinite linear;

  /* background-color: #e7c1fb; */
  opacity: 0.90;
  z-index: 15;

}
.headerNight{
  background-image: linear-gradient(60deg, #18021c, #060310, #0e0414);
 color: bisque;
 opacity: 0.80;
  z-index: 15;

}

.backgroundDay{
  background-color: #fff;
  min-height: 100cqh;
  width: -webkit-fill-available;
  background-image: linear-gradient(60deg, #fdfedf, #9fd6f8, #e7c1fb);
  background-size: 600% 600%;
  animation: bgAnimatedGradient 15s infinite linear;
}
.backgroundNight{
  background-color: #fff;
  min-height: 100cqh;
  width: -webkit-fill-available;
  background-image: linear-gradient(60deg, #18021c, #060310, #0e0414);
  background-size: 600% 600%;
  animation: bgAnimatedGradient 15s infinite linear;
}



@keyframes bgAnimatedGradient{
  0%{
    background-position: 0 85%;

  }
  50%{
    background-position: 100% 20%;
  }
  100%{
    background-position: 0 85%;
  }
}

.swiper-slide-visible img{
  animation: imgAnimation 7s infinite linear;

}


@keyframes imgAnimation{
  0%{
    transform: rotate(0deg);

  }
  25%{
    transform: rotate(10deg);

  }
  50%{
    transform: rotate(0deg);

  }
  75%{
    transform: rotate(-10deg);

  }
  100%{
    transform: rotate(0deg);

  }
  /* 100%{
    transform: rotate(10deg);

  } */
  /* 50%{
    transform: rotateX(0deg) rotateY(0deg) translate3d(0px, 0px, 40px);
  }
  0%{
    transform: rotateX(0deg) rotateY(0deg) translate3d(0px, 0px, 0px);

  } */
}











.none{
  display: none;
}
.letter{
  font-family: Frederica the Great, cursive;
  font-weight: 800;
  font-size: 18px;
}
.letter span{
  cursor: pointer;
}
.letterDrink{
  background-color: rgba(255,255,255, 0.5);
}


.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.4);
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-grid-column>.swiper-wrapper {
  flex-wrap: wrap;
  /* flex-direction: column; */
  flex-direction: unset !important;

  align-items: baseline;
}
.swiper-pagination {
  position: relative !important;
  margin-top: 20px;
  
}
.ingredientImg{
  display: unset;
}
.homeSwiper .swiper-slide{
  background: none;
}
.aboutCocktail .swiper-slide{

  background: transparent !important;
}
.aboutCocktail .swiper-slide img{

width: 50cqw;
margin: 0 auto;
}
.availableDrinks .parallaxTittle{
  background-color: rgba(0, 0, 0, 0.7);
  line-height: 13cqh;
  padding: 2cqh 4cqw;
  border: 1px solid white;
  border-radius: 3cqw;
}